.App {
  text-align: center;
}

.header{
  color: white;
  background-color: black;
  font-size: 50px;
}

.article_card {
  list-style: none;
  width: 40%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 1ch;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  width: 100vw;
}
.article_container {
  padding: 2px 16px;
  display: flex;
}
.article_image {
width: auto;
max-height: 250px;
}
.individual_article_card {
  list-style: none;
  width: 40%;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  border-radius: 1ch;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  width: auto;
  display: block;
}
.title{
background-color: rgb(78, 77, 77);
color: white;
}
.author{
  text-align: right;
}
.comment_card {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 189, 189);
  list-style: none;
  width: 40%;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  border-radius: 1ch;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  width: auto;
  display: block;

}
.date_container {
  background-color: rgb(42, 64, 231);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 100px;
  text-align: center;
  border-radius: 1ch;
  box-shadow: 0 2px 4px 0 rgba(50, 237, 68, 0.2);
  flex-grow: 1;
  width: 40%;
  display: block;
}
.votes_container {
  background-color: rgb(249, 67, 67);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  border-radius: 1ch;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  width: 20%;
  display: block;
}

.add-comment{
  color: rgb(228, 250, 114);
  background-color: rgb(181, 247, 247);
  width: 40%;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  border-radius: 1ch;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  width: auto;
  display: block;
}

.add-comment textarea{
  margin: 10px;
  padding: 5px 5px;
  width: 80%;  
  height: 90%;

}
.add-comment button {
  border-radius: 8px;
}
.add-comment button:hover {
  background-color: #fef354; /* Green */
  color: white;
}
.user_image{

    width: 75px;
    height: 75px;
    object-fit: fill;
    border-radius: 50%;
  
}
.error-message{
  color: black;
 font-size: larger;
 background-color: #fef354;
}
.nav_options{
  word-spacing: 30px;
  justify-content: space-around;
  text-decoration: none
  
}
.Header_login{
  grid-row: 1;}